<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Registro de Entrada de Vehículos</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script>
        let filtroSeleccionado = 'dia'; 
        let mostrarSoloActivos = true;
        setTimeout(() => {
                actualizarTotalIngresos();
            }, 5000);

        function mostrarVehiculosRegistrados(activos = true) {
            const fechaSeleccionada = document.getElementById('datepicker').value;
            let url = `/api/obtener-entradas?filtro=${filtroSeleccionado}`;
            if (filtroSeleccionado === 'dia' && fechaSeleccionada) {
                url += `&fecha=${fechaSeleccionada}`;
            }

            fetch(url)
                .then(response => response.json())
                .then(data => {
                    const listaVehiculos = document.getElementById('listaVehiculos');
                    listaVehiculos.innerHTML = '';
                    data.forEach(entrada => {
                        if (activos && entrada.hora_salida) return;
                        if (!activos && !entrada.hora_salida) return;

                        const card = document.createElement('div');
                        card.className = 'card m-2';
                        card.style.width = '18rem';

                        if (!entrada.hora_salida) {
                            card.classList.add('card-gris');
                        }

                        const imageContainer = document.createElement('div');
                        imageContainer.className = 'd-flex justify-content-between';

                        const entradaImage = document.createElement('img');
                        entradaImage.src = entrada.entrada_image_url || 'placeholder.jpg';
                        entradaImage.className = 'card-img-top';
                        entradaImage.alt = 'Imagen de Entrada';
                        entradaImage.style.height = '180px';
                        entradaImage.style.width = '49%';

                        const salidaImage = document.createElement('img');
                        salidaImage.src = entrada.salida_image_url || 'placeholder.jpg';
                        salidaImage.className = 'card-img-top';
                        salidaImage.alt = 'Imagen de Salida';
                        salidaImage.style.height = '180px';
                        salidaImage.style.width = '49%';

                        imageContainer.appendChild(entradaImage);
                        imageContainer.appendChild(salidaImage);

                        const cardBody = document.createElement('div');
                        cardBody.className = 'card-body';

                        let contenido = `<p class="card-text"><strong>Placa:</strong> ${entrada.placa}<br>`;
                        contenido += `<strong>Hora de Entrada:</strong> ${new Date(entrada.hora_entrada).toLocaleString()}<br>`;
                        if ('hora_salida' in entrada && entrada.hora_salida) {
                            contenido += `<strong>Hora de Salida:</strong> ${new Date(entrada.hora_salida).toLocaleString()}<br>`;
                        }
                        if ('time_spent' in entrada) {
                            contenido += `<strong>Tiempo en Estacionamiento:</strong> ${entrada.time_spent.toFixed(2)} minutos<br>`;
                        }
                        if ('tarifa' in entrada) {
                            contenido += `<strong>Tarifa:</strong> ${entrada.tarifa.toFixed(2)} COP<br>`;
                        }
                        if (entrada.editado) {
                            contenido += '<span style="color: red;">Esta placa ha sido editada</span><br>';
                        }
                        contenido += '</p>';
                        cardBody.innerHTML = contenido;

                        const buttonContainer = document.createElement('div');
                        buttonContainer.className = 'd-grid gap-2 d-md-block';

                        const botonEditar = document.createElement('button');
                        botonEditar.className = 'btn btn-warning';
                        botonEditar.textContent = 'Editar Placa';
                        botonEditar.onclick = () => abrirModalEditar(entrada.id, entrada.placa, entrada.entrada_image_url, entrada.hora_entrada);

                        const botonCalcularTarifa = document.createElement('button');
                        botonCalcularTarifa.className = 'btn btn-info';
                        botonCalcularTarifa.textContent = 'Calcular Tarifa';
                        botonCalcularTarifa.onclick = () => calcularTarifaIndividual(entrada.id, entrada.placa, entrada.hora_entrada);

                        const botonBorrarHoraSalida = document.createElement('button');
                        botonBorrarHoraSalida.className = 'btn btn-warning';
                        botonBorrarHoraSalida.textContent = 'Borrar Hora de Salida';
                        botonBorrarHoraSalida.onclick = () => borrarHoraSalida(entrada.id);

                        const botonBorrarEntrada = document.createElement('button');
                        botonBorrarEntrada.className = 'btn btn-danger';
                        botonBorrarEntrada.textContent = 'Borrar Entrada';
                        botonBorrarEntrada.onclick = () => borrarEntrada(entrada.id);

                        buttonContainer.appendChild(botonEditar);
                        buttonContainer.appendChild(botonCalcularTarifa);
                        buttonContainer.appendChild(botonBorrarHoraSalida);
                        buttonContainer.appendChild(botonBorrarEntrada);

                        cardBody.appendChild(buttonContainer);

                        card.appendChild(imageContainer);
                        card.appendChild(cardBody);

                        listaVehiculos.appendChild(card);
                    });
                })
                .catch(error => mostrarAlerta('Error al obtener las entradas: ' + error, 'danger'));
        }

        function alternarVista() {
            mostrarSoloActivos = !mostrarSoloActivos;
            document.getElementById('textoBotonVista').textContent = mostrarSoloActivos ? 'Vehículos con Tarifa' : 'Vehículos Activos';
            mostrarVehiculosRegistrados(mostrarSoloActivos);
        }

        function buscarPlaca() {
            const inputSearch = document.querySelector('.form-control').value.toUpperCase();

            fetch(`/api/buscar-placa?placa=${inputSearch}`)
                .then(response => response.json())
                .then(data => {
                    if (data.error) {
                        mostrarAlerta(data.error, 'warning');
                    } else {
                        const entrada = data[0];
                        abrirModalEditar(entrada.id, entrada.placa, entrada.entrada_image_url, entrada.hora_entrada);
                    }
                })
                .catch(error => mostrarAlerta('Error al buscar la placa: ' + error, 'danger'));
        }

        function abrirModalEditar(id, placaOriginal, imageUrl, horaEntrada) {
            const inputId = document.getElementById('entryId');
            const inputPlacaOriginal = document.getElementById('placaOriginal');
            const inputNuevaPlaca = document.getElementById('nuevaPlaca');
            const imagenCarro = document.getElementById('imagenCarro');
            const inputHoraEntrada = document.getElementById('horaEntrada');

            inputId.value = id;
            inputPlacaOriginal.value = placaOriginal;
            inputNuevaPlaca.value = '';
            imagenCarro.src = imageUrl;
            inputHoraEntrada.value = horaEntrada;

            const editarPlacaModal = new bootstrap.Modal(document.getElementById('editarPlacaModal'));
            editarPlacaModal.show();
        }

        function actualizarPlaca() {
            const entryId = document.getElementById('entryId').value;
            const placaOriginal = document.getElementById('placaOriginal').value;
            const nuevaPlaca = document.getElementById('nuevaPlaca').value;

            fetch('/api/actualizarplaca', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    id: entryId,
                    placa_original: placaOriginal,
                    nueva_placa: nuevaPlaca
                })
            })
            .then(response => response.json())
            .then(data => {
                mostrarAlerta(data.message, data.status === 'success' ? 'success' : 'danger');
                if (data.status === 'success') {
                    const editarPlacaModal = bootstrap.Modal.getInstance(document.getElementById('editarPlacaModal'));
                    editarPlacaModal.hide();
                    mostrarVehiculosRegistrados(mostrarSoloActivos);
                }
            })
            .catch(error => mostrarAlerta('Error: ' + error, 'danger'));
        }

        function calcularTarifaIndividual(id, placa, horaEntrada) {
            fetch('/api/calcular-tarifa', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    id: id,
                    placa: placa,
                    hora_entrada: horaEntrada
                })
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    mostrarAlerta(`La tarifa para la placa ${placa} es de ${data.tarifa} COP.`, 'success');
                } else {
                    mostrarAlerta(`Error al calcular la tarifa: ${data.error}`, 'danger');
                }
            })
            .catch(error => mostrarAlerta('Error: ' + error, 'danger'));
        }

        function calcularTarifaDesdeModal() {
            const entryId = document.getElementById('entryId').value;
            const placa = document.getElementById('placaOriginal').value;
            const horaEntrada = document.getElementById('horaEntrada').value;

            calcularTarifaIndividual(entryId, placa, horaEntrada);
        }

        function mostrarAlerta(mensaje, tipo) {
            const alertPlaceholder = document.getElementById('alertPlaceholder');
            const alertDiv = document.createElement('div');
            alertDiv.className = `alert alert-${tipo} alert-dismissible fade show`;
            alertDiv.role = 'alert';
            alertDiv.innerHTML = `
                ${mensaje}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            `;
            alertPlaceholder.appendChild(alertDiv);
            setTimeout(() => {
                alertDiv.remove();
            }, 5000); 
        }

        function actualizarTotalIngresos() {
            const fechaSeleccionada = document.getElementById('datepicker').value;
            let url = '/api/total-ingresos-dia';
            if (filtroSeleccionado === 'dia' && fechaSeleccionada) {
                url = `/api/total-ingresos-fecha?fecha=${fechaSeleccionada}`;
            }

            fetch(url)
                .then(response => response.json())
                .then(data => {
                    document.getElementById('totalIngresosDia').textContent = data.total_ingresos.toFixed(2);
                })
                .catch(error => mostrarAlerta('Error al obtener el total de ingresos: ' + error, 'danger'));
        }

        document.addEventListener('DOMContentLoaded', () => {
            const filtros = document.querySelectorAll('input[name="filtro"]');
            filtros.forEach(filtro => {
                filtro.addEventListener('change', () => {
                    filtroSeleccionado = filtro.value;
                    mostrarVehiculosRegistrados(mostrarSoloActivos);
                });
            });

            flatpickr("#datepicker", {
                enableTime: false,
                dateFormat: "Y-m-d",
                onChange: function(selectedDates, dateStr, instance) {
                    mostrarVehiculosRegistrados(mostrarSoloActivos);
                    actualizarTotalIngresos();
                }
            });

            document.getElementById('textoBotonVista').textContent = 'Vehículos con Tarifa';
            mostrarVehiculosRegistrados();
            actualizarTotalIngresos();
            
            //setInterval(() => mostrarVehiculosRegistrados(mostrarSoloActivos), 5000);
            //setInterval(actualizarTotalIngresos, 5000);
        });

        function abrirModalCrearInstancia() {
            const crearInstanciaModal = new bootstrap.Modal(document.getElementById('crearInstanciaModal'));
            crearInstanciaModal.show();
        }

        function crearInstancia() {
            const nuevaPlaca = document.getElementById('nuevaPlacaInput').value;
            if (!nuevaPlaca) {
                mostrarAlerta('Por favor ingrese una placa', 'danger');
                return;
            }
    
            fetch('/api/crear-instancia', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    placa: nuevaPlaca
                })
            })
            .then(response => response.json())
            .then(data => {
                mostrarAlerta(data.message, data.status === 'success' ? 'success' : 'danger');
                if (data.status === 'success') {
                    const crearInstanciaModal = bootstrap.Modal.getInstance(document.getElementById('crearInstanciaModal'));
                    crearInstanciaModal.hide();
                    mostrarVehiculosRegistrados(mostrarSoloActivos);
                }
            })
            .catch(error => mostrarAlerta('Error: ' + error, 'danger'));
        }

        function borrarHoraSalida(entryId) {
            fetch('/api/borrar-hora-salida', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    id: entryId
                })
            })
            .then(response => response.json())
            .then(data => {
                mostrarAlerta(data.message, data.status === 'success' ? 'success' : 'danger');
                if (data.status === 'success') {
                    mostrarVehiculosRegistrados(mostrarSoloActivos);
                }
            })
            .catch(error => mostrarAlerta('Error: ' + error, 'danger'));
        }
    
        function borrarEntrada(entryId) {
            fetch('/api/borrar-entrada', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    id: entryId
                })
            })
            .then(response => response.json())
            .then(data => {
                mostrarAlerta(data.message, data.status === 'success' ? 'success' : 'danger');
                if (data.status === 'success') {
                    mostrarVehiculosRegistrados(mostrarSoloActivos);
                }
            })
            .catch(error => mostrarAlerta('Error: ' + error, 'danger'));
        }
    </script>
</head>
<style>
    .navbar-nav-center {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    
    .container-fluid {
        display: flex; 
        justify-content: center;
        width: 100%;
    }
    .center-button {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80vh;
        margin-top: auto;
    }
    .card-gris {
        background-color: #d3d3d3;
    }
</style>
<body>
    <div class="container text-center my-4">
        <h2>Total Ingresos del Día: <span id="totalIngresosDia">0</span> COP</h2>
    </div>
    <div class="navbar">
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid d-flex justify-content-center">
                <div class="navbar-nav-center">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class=" collapse navbar-collapse" id="navbarTogglerDemo03">
                        <form class="d-flex" role="Buscar" onsubmit="event.preventDefault(); buscarPlaca();">
                            <input class="form-control me-2" type="search" placeholder="Buscar carros" aria-label="Search">
                            <button class="btn btn-outline-success" type="submit">Buscar</button>
                        </form>
                    </div>
                </div>
            </div>
        </nav>
    </div>
    <div class="text-center my-4">
        <button class="btn btn-primary" onclick="abrirModalCrearInstancia()">Crear Nueva Instancia</button>
        <button class="btn btn-secondary" onclick="alternarVista()">
            Mostrar <span id="textoBotonVista"></span>
        </button>
    </div>
    
    <div class="modal fade" id="crearInstanciaModal" tabindex="-1" aria-labelledby="crearInstanciaModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="crearInstanciaModalLabel">Crear Nueva Instancia</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <input type="text" id="nuevaPlacaInput" class="form-control" placeholder="Ingrese la placa" required>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="crearInstancia()">Crear</button>
                </div>
            </div>
        </div>
    </div>
    <div class="container text-center my-4">
        <h2>Filtrar por:</h2>
        <div class="btn-group" role="group" aria-label="Filtros de Fecha">
            <input type="radio" class="btn-check" name="filtro" id="filtro-dia" value="dia" checked>
            <label class="btn btn-outline-primary" for="filtro-dia">Día</label>

            <input type="radio" class="btn-check" name="filtro" id="filtro-semana" value="semana">
            <label class="btn btn-outline-primary" for="filtro-semana">Semana</label>

            <input type="radio" class="btn-check" name="filtro" id="filtro-mes" value="mes">
            <label class="btn btn-outline-primary" for="filtro-mes">Mes</label>
        </div>
        <input type="text" id="datepicker" class="form-control mt-2" placeholder="Seleccionar fecha específica">
    </div>
    <div id="alertPlaceholder"></div>
    <div class="d-flex flex-wrap mt-4" id="listaVehiculos">
    </div>
    <div class="center-button">
    </div>
    <div class="modal fade" id="editarPlacaModal" tabindex="-1" aria-labelledby="editarPlacaModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editarPlacaModalLabel">Editar Placa</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <input type="hidden" id="entryId">
                    <input type="hidden" id="horaEntrada">
                    <input type="text" id="placaOriginal" class="form-control mb-2" readonly required>
                    <img id="imagenCarro" src="" class="img-fluid mb-3" alt="Imagen del Carro">
                    <input type="text" id="nuevaPlaca" class="form-control" placeholder="Nueva Placa" required>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="actualizarPlaca()">Guardar Cambios</button>
                    <button type="button" class="btn btn-info" onclick="calcularTarifaDesdeModal()">Calcular Tarifa</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>